
.dm-sans-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body, html {
  margin: 0;
  height: 100%;
  background-color: #472C1C;
}

main {
	margin: 0 30vh;
	background-color: white;
	margin-top:0;
	padding-top:0;
}

.bodytext {
	margin: 0 20vh;
}

p {
	margin: 2vh 0;
	font-family: "DM Sans", sans-serif;
	font-size: 19px;
	letter-spacing: -0.5px;
}

h1 {
	margin-top: 0vh;
	font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.info {
	border-radius: 2vh;
	border: 2px solid black;
	padding: 2vh 3vh 2vh 0;
}

.container {
	display:flex;
	justify-content: space-between;
}

.right {
	display:flex;
	flex-direction:column;
	width: 20%;
}

.left {
	width: 80%;
	margin: 1vh 3vh;
	display:flex;
	align-items: center; 
}

#display {
	margin:0;
	width: 100%;
}

.datawrapper {
	max-width: 80%;
	margin-left: auto;
  margin-right: auto;
  margin-bottom:5vh;
  margin-top: 3vh;
}

.twographs {
	display:flex;
	margin-top: 3vh;
	margin-bottom: 5vh;
	max-width: 50%;
	justify-content: space-between;
	gap:10px;
}

.quinntegories {
	display: flex;
	gap: 1vh;
}

.quinntegory {
	border: 2px solid black;
	border-radius: 10px;
	padding: 0 2vh;
	text-align: center;
}

h2 {
	font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
	font-size: 15px;
	margin-bottom:0;
	color: #B0B0B0;
	font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h4 {
	margin: 1vh 0vh 2vh 0vh;
	font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

img{
	height:20vh;
	animation: tilt-snap 1s steps(1) infinite;
}
    
@keyframes tilt-snap {
  0%   { transform: rotate(-3deg); }
  50%  { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

button {
	color: black;
	background-color: white;
	border-radius: 10px;
	border: 1px solid black;
	margin: 0.5vh 0;
}

button:hover{
	background-color:antiquewhite;
	transition:0.2s;
	cursor:pointer;
}

#caption {
	text-align:center;
	font-size: 15px;
	margin-top:0.5vh;
	opacity:0.5;
}

.attribution {
  font-size: 0.9rem;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: gray;
}

#backToTop {
  width:100%;
  border-radius: 20px;
  padding: 1vh;
  border-width: 3px;
  transition: 0.2s ease-in-out;
  margin-top: 1vh;
  margin-bottom: 0;
  font-family: "Fira Mono", "DejaVu Sans Mono", "Consolas", monospace;
  font-weight: bold;
}

#backToTop:hover {
	background-color:#D6D6D6;
}

@media (max-width: 1400px) {
	.datawrapper {
		max-width:100%;
	}
}